@import "variables.css";

/* Caja de un ingrediente  */
.nombre-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre-acciones h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  font-size: 1rem;
}

.cantidad-unidad {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-texto-elemento);
}

.acciones {
  display: flex;
}

.boton-accion {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto-elemento);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  transition: var(--transicion);
}
.boton-accion:hover {
  background-color: var(--accion-hover);
}

hr {
  color: var(--color-texto-elemento);
}

.caja-elemento.amarillo {
  background-color: var(--ingrediente-amarillo);
  border: 1px solid var(--ingrediente-amarrilo-linea);
}

.caja-elemento.rojo {
  background-color: var(--ingrediente-rojo);
  border: 1px solid var(--ingrediente-rojo-linea);
}





/*APENAS AGREGADO*/
/* Fondo del popup */
.contenedor-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 241, 241, 0); /* Fondo semi-transparente */
  backdrop-filter: blur(3px);
  display: none; /* Oculto por defecto */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  
  
}

/* Caja del popup */
.popup {
  background: #ffffff; /* Color de fondo blanco */
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  height: 180px;
  position: relative;
  text-align: left;
  color: var(--color-texto-elemento);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.cerrar-popup {
  position: absolute;
  top: -60px; 
  width: 30px;
  height: 30px;
  left: 550px;
  bottom: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
  box-shadow: var(--elemento-sombra);
  transition: all 0.2s ease;
}

.cerrar-popup:hover{
  background-color: #f2f2f2;
  color: #000;
  box-shadow: var(--elemento-sombra);
}

.formulario-popup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

select, input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.boton-agregardos{
  border-color: #ffffff;
  border-radius: 10px;
  background-color: #57D481;
  color: white;
  width: 100px;
  font-weight: bold;
  margin-left: 100px;
}
/* Fondo desenfocado 
.fondo-borrado {
  filter: blur(30px); /* Ajusta el nivel de desenfoque 
}

Fondo del contenedor 
.fondo-contenedor {
  transition: filter 0.3s ease;
}
*/
