@import "variables.css";

/* Caja de un ingrediente  */
.nombre-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre-acciones h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  font-size: 1rem;
}

.cantidad-unidad {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-texto-elemento);
}

.acciones {
  display: flex;
}

.boton-accion {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto-elemento);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  transition: var(--transicion);
}
.boton-accion:hover {
  background-color: var(--accion-hover);
}

hr {
  color: var(--color-texto-elemento);
}

.caja-elemento.amarillo {
  background-color: var(--ingrediente-amarillo);
  border: 1px solid var(--ingrediente-amarrilo-linea);
}

.caja-elemento.rojo {
  background-color: var(--ingrediente-rojo);
  border: 1px solid var(--ingrediente-rojo-linea);
}
