@import "variables.css";

.opcion-postres {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 3rem;
}

.tipo-postre {
  display: flex;
}

.caja-filtrar-buscar {
  width: 100%;
}
