@import "variables.css";

.nombre-receta h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  font-size: 1rem;
}

.porciones-cantidad {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-texto-elemento);
}

hr {
  color: var(--color-texto-elemento);
}

.crear-receta, .info-receta {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: var(--elemento-sombra);
}

.cerrar {
  position: absolute;
  top: -26px;
  width: 30px;
  height: 30px;
  left: 410px;
  bottom: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
  box-shadow: var(--elemento-sombra);
  transition: all 0.2s ease-in-out;
}

.linea1, .linea2, .linea3 {
  display: flex;
  margin: 10px 0;
}

.linea1-derecha, .linea2-derecha, .linea3-derecha {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 5px;
}

.bx-edit, .bx-trash {
  cursor: pointer;
  font-size: 1.5rem;
}

.input-num {
  text-align: center;
  border-radius: 5px;
  width: 30px;
  border-color: #A49C9C;
}

.input-nom {
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 80%;
  font-family: var(--fuente);
}

.nom-receta {
  color: #444444;
  font-size: 1.5rem;
  font-weight: bold;
  width: 80%;
  background-color: white;
  border: none;
  font-family: var(--fuente);
  outline: none;
}

.icono-receta {
  color: #8A8A8E;
}

.num-ing {
  color: #8A8A8E;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 12px;
  text-align: center;
  box-shadow: var(--elemento-sombra);
}

table th, table td {
  padding: 12px 15px;
}

table th {
  background-color: #C3A780;
  color: white;
}

table tr td:last-child {
  text-align: center;
}

.btn-agregaing {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #A49C9C;
  color: #A49C9C;
  cursor: pointer;
}

.btn-agregaing:hover, .cerrar:hover  {
  background-color: #ececec;
}

.tabla {
  border-radius: 10px;
}