/* Archivo reservado exclusivamente para variables en CSS  */

/* GENERAL  */
:root {
  --fuente: "Poppins", serif; /* Fuente de texto */
  --color-pagina: #fff; /* Color del fondo de la página */
  --transicion: all 0.3s ease-in-out; /* Formato de transiciones */
  --blur-cantidad: 3px; /* Desenfoque del fondo */
  --main-sombra: 0 0 10px 5px rgba(0, 0, 0, 0.08); /* Sombra del contenedor principal de las secciones */
  --borde-redondeo-main: 10px 10px 0 0; /* Redondeo del contenedor princpal de las secciones */
  --borde-redondeo-box: 10px; /* Redondeo del borde de las cajas (iconos, recetas, ingredientes, etc.) */
}

/* SIDEBAR  */
:root {
  --sidebar-ancho: 8rem;
  --sidebar-color: #fff;
  --texto-sidebar-color: #c3a780;
  --sidebar-sombra: 1px 0 10px 0 rgba(0, 0, 0, 0.15);
}

/* ICONOS  */
:root {
  --icono-color: #c3a780;
  --icono-activo-fondo: #ffecbb;
  --icono-hover-fondo: #fff4d9;
}
